form {
    margin-top: 10px;
    margin: 0px 20px;
    border: 1pt solid black;
    border-radius: 10px;
    background: #69f0ae;
    display: flex;
    flex-direction: column;
}
.toolbar {
    flex: 1 1 auto;
}
mat-form-field {
    padding: 10px 40px;
}
section {
    background:  black;
    padding-bottom: 10px;
}
input {
    color:black;
}
header {
    margin-bottom: 10px;
}
mat-label {
    color: black;
}