<section>
    <header>
        <mat-toolbar color=primary>
            <mat-toolbar-row>
                <span>{{action}} libro</span>
                <span class="toolbar"></span>
                <a routerLink="/catalogue">
                    <button mat-raised-button focusable="false">
                    <mat-icon>reply</mat-icon>
                    <span>Volver</span>
                    </button>
                </a>
            </mat-toolbar-row>
        </mat-toolbar>
    </header>

    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>Título</mat-label>
            <input matInput type="text" formControlName ="title" placeholder="Angular 10">
            <!-- <span style="color:red">{{getError("title")}}</span> -->
        </mat-form-field>

        <mat-form-field>
            <mat-label>Resumen</mat-label>
            <input matInput type="text" formControlName ="abstract" placeholder="Libro para desarrolladores sin experiencia en Angular...">
            <!-- <span style="color:red">{{getError("abstract")}}</span> -->
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>ISBN</mat-label>
            <input matInput type="text" formControlName ="isbn" placeholder="1985170280">
            <!-- <span style="color:red">{{getError("isbn")}}</span> -->
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Precio</mat-label>
            <input matInput type="number" formControlName ="price" placeholder="50.90">
            <!-- <span style="color:red">{{getError("price")}}</span> -->
        </mat-form-field>

        <button mat-raised-button focusable="false" [disabled]= "formGroup.invalid" >{{action}}</button>
    </form>
</section>

