.booktitle {
    font-size: 20px;
}
.title {
    flex: 0.5 1 auto;
}
.toolbar {
    flex: 1 1 auto;
    padding: 0px 10px;
}
.card {
    max-width: 1000px;
    margin: 10px 10px;
  }
.abstract {
    width: 70%;
}
.detail {
    display: flex;
    flex-direction: row;
}
.rowToolbar1 {
    margin-top: 20px;
}
